<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Message Server</title>
</head>
<body>
    <div class="wrap">
    <header>
        {% if app == None %}
            {% include 'header.html' %}
        {% elif app == "users" %}
            {% include 'users_nav.html' %}
        {% elif app == "msgs" %}
            {% include 'msgs_nav.html' %}
        {% endif %}

    </header>

        <div class="content">
            {% block content %}




            {% endblock %}
        </div>


    </div>

</body>
</html>