{% extends 'msgs_user_panel.html' %}
{% block user_action %}
    <p>Napisz wiadomość.</p>
	<form method="POST" action="/write">
        <label for="recipient">Do kogo:</label>
        <select name="recipient" id="recipient">
            {% for recipient in users %}
                <option value="{{ recipient.id() }}">{{ recipient.username }}</option>
            {% endfor %}
        </select>
        <label for="content">Wiadomość:</label><br>
        <textarea name="content" id="content" cols="30" rows="10">
        </textarea><br>
        <input type="submit" value="Wyślij">
    </form>
{% endblock %}
